*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ###########################################################################################################
        root
########################################################################################################### */
:root{
    --stdMargin: 0.2rem;
    --stdPadding: 0.2rem;
    --stdRadius:  0.1rem;
    --stdFlexGap: 0.3rem;

    /*BASIS: #5FBB97*/
    --primaryColor900: #040a08;
    --primaryColor800: #11281f;
    --primaryColor700: #224f3d;
    --primaryColor600: #32775c;
    --primaryColor500: #439e7b;
    --primaryColor400: #5FBB97;
    --primaryColor300: #7fc9ac;
    --primaryColor200: #9fd6c1;
    --primaryColor100: #bfe4d5;
    --primaryColor050: #dff1ea;
    --primaryColor025: #f7fcfa;

    /*BASIS: #7A229A*/
    --secondaryColor900: #060208;
    --secondaryColor800: #18071f;
    --secondaryColor700: #310e3e;
    --secondaryColor600: #49145c;
    --secondaryColor500: #621b7b;
    --secondaryColor400: #7A229A;
    --secondaryColor300: #a42ecf;
    --secondaryColor200: #bb61dc;
    --secondaryColor100: #d295e8;
    --secondaryColor050: #e8caf3;
    --secondaryColor025: #f9f2fc;

    /*BTN's*/
    --bgNumber: var(--secondaryColor500);
    --bgNoNumber: var(--primaryColor600);
    --hover-bgNumber: var(--secondaryColor050);
    --hover-bgNoNumber: var(--primaryColor200);
    --hover-textNumber: #000;
    --hover-textNoNumber: #000;
    
}

/* ###########################################################################################################
        Basics
########################################################################################################### */
.btn{
    /*felxcild*/
    flex-grow: 1;
}

/* inspired form gumroad website */
   
.btnNumber {
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bgNumber);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bgNumber);
    transition: 0.2s;
}
.btnNoNumber {
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bgNoNumber);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bgNoNumber);
    transition: 0.2s;
}
  
  .btnNumber:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bgNumber);
    box-shadow: 0.25rem 0.25rem var(--bgNumber);
  }

  .btnNoNumber:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bgNoNumber);
    box-shadow: 0.25rem 0.25rem var(--bgNoNumber);
  }
  
  .btnNumber:active, .btnNoNumber:active {
    transform: translate(0);
    box-shadow: none;
  }

/*
.btnNumber {
    font-family: arial;
    font-weight: bold;
    color: var(--secondaryColor025) !important;
    font-size: 30px;
    text-shadow: 0px 0px 0px var(--secondaryColor100);
    box-shadow: 1px 1px 1px var(--secondaryColor600);
    padding: 10px 25px;
    border-radius: 8px;
    border: 2px solid var(--secondaryColor900);
    background: var(--secondaryColor400);
    background: linear-gradient(to top, var(--secondaryColor400), var(--secondaryColor900));
}
.btnNumber:hover {
    color: #FFFFFF !important;
    background: var(--secondaryColor400);
}

.btnNoNumber {
    font-family: arial;
    font-weight: bold;
    color: var(--primaryColor025) !important;
    font-size: 30px;
    text-shadow: 0px 0px 0px var(--primaryColor100);
    box-shadow: 1px 1px 1px var(--primaryColor600);
    padding: 10px 25px;
    border-radius: 8px;
    border: 2px solid var(--primaryColor900);
    background: var(--primaryColor900);
    background: linear-gradient(to top, var(--primaryColor900), var(--primaryColor400));
}
.btnNoNumber:hover {
    color: #FFFFFF !important;
    background: var(--primaryColor900);
}
*/


/* ###########################################################################################################
        .calculator
########################################################################################################### */
.calculator{
    margin: 10px auto;
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid black;
    max-width: 600px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
}

/* ###########################################################################################################
        .calculator ==> .displayCurrentCalculation
########################################################################################################### */
.displayCurrentCalculation{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid orange;
}

/* ###########################################################################################################
        .calculator ==> .displayCurrentNumber
########################################################################################################### */
.displayCurrentNumber{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid orange;
}


/* ###########################################################################################################
        .calculator ==> .btnContainers
########################################################################################################### */
.btnContainers{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid orange;

    display: flex;
    
}


/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerFunktionsNumbers
########################################################################################################### */
.btnContainerFunktionsNumbers{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid green;

    /*Flexchild*/
    flex-grow: 3;

    /*Flexparent*/
    display: flex;
    flex-direction: column;
}



/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerFunktionsNumbers ==> btnContainerFunktions
########################################################################################################### */
.btnContainerFunktions{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid blue;

    display: flex;
    justify-content: center;
    gap: var(--stdFlexGap);
}

/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerFunktionsNumbers ==> btnContainerNumbers
########################################################################################################### */
.btnContainerNumbers1, .btnContainerNumbers2, .btnContainerNumbers3, .btnContainerNumbers4{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid blue;

    display: flex;
    justify-content: center;
    gap: var(--stdFlexGap);
}



/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerOperatiors
########################################################################################################### */
.btnContainerOperatiors{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    border: 2px solid green;

    /*Flexchild*/
    flex-grow: 1;
    
    /*Flexparent*/
    display: flex;
    flex-direction: column;
    gap: var(--stdFlexGap);
}


