*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ###########################################################################################################
        root
########################################################################################################### */
:root{
    --stdMargin: 0.2rem;
    --stdPadding: 0.2rem;
    --stdRadius:  0.1rem;
    --stdFlexGap: 0.4rem;

    /*BASIS: #5FBB97*/
    --primaryColor900: #040a08;
    --primaryColor800: #11281f;
    --primaryColor700: #224f3d;
    --primaryColor600: #32775c;
    --primaryColor500: #439e7b;
    --primaryColor400: #5FBB97;
    --primaryColor300: #7fc9ac;
    --primaryColor200: #9fd6c1;
    --primaryColor100: #bfe4d5;
    --primaryColor050: #dff1ea;
    --primaryColor025: #f7fcfa;

    /*BASIS: #7A229A*/
    --secondaryColor900: #060208;
    --secondaryColor800: #18071f;
    --secondaryColor700: #310e3e;
    --secondaryColor600: #49145c;
    --secondaryColor500: #621b7b;
    --secondaryColor400: #7A229A;
    --secondaryColor300: #a42ecf;
    --secondaryColor200: #bb61dc;
    --secondaryColor100: #d295e8;
    --secondaryColor050: #e8caf3;
    --secondaryColor025: #f9f2fc;

    /*BTN's*/
   
    --bgNumber: var(--primaryColor500);
    --bgNoNumber: var(--primaryColor600);
    --bgEquals: var(--secondaryColor300);

    --hover-bgNumber: var(--primaryColor200);
    --hover-bgNoNumber: var(--primaryColor200);
    --hover-bgEquals: var(--secondaryColor100);
    --hover-textNumber: #000;
    --hover-textNoNumber: #000;
    
}

/* ###########################################################################################################
        Basics
########################################################################################################### */
.btn{
    font-size: 1.2rem;
    /*felxcild*/
    flex-grow: 1;
}

/* inspired form gumroad website */
.btnNumber, .btnNoNumber, .btnEquals {
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.8em 2em;
    transition: 0.2s;
}
.btnNumber {
    border: 1px solid var(--bgNumber);
    background: var(--bgNumber);
}
.btnNoNumber {

    border: 1px solid var(--bgNoNumber);

    background: var(--bgNoNumber);

}

.btnEquals {
    border: 1px solid var(--bgEquals);
    background: var(--bgEquals);
}

.btnNumber:hover,  .btnNoNumber:hover, .btnEquals:hover  {
    transform: translate(-0.25rem, -0.25rem);
}

.btnNumber:hover {
    color: var(--hover-text);
    background: var(--hover-bgNumber);
    box-shadow: 0.25rem 0.25rem var(--bgNumber);
  }

  .btnNoNumber:hover {
    color: var(--hover-text);
    background: var(--hover-bgNoNumber);
    box-shadow: 0.25rem 0.25rem var(--bgNoNumber);
  }
  
  .btnEquals:hover {
    color: var(--hover-text);
    background: var(--hover-bgEquals);
    box-shadow: 0.25rem 0.25rem var(--bgEquals);
  }

  .btnNumber:active, .btnNoNumber:active, .btnEquals:active {
    transform: translate(0);
    box-shadow: none;
  }


/* ###########################################################################################################
        .calculator
########################################################################################################### */
.calculator{
    margin: 10px auto;
    padding: 20px;
    border-radius: var(--stdRadius);
    border: 2px solid black;
    max-width: 800px;
    min-width: 300px;

    /* background-color: hsl(232.05deg 100% 93.71%); */
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );


    box-shadow: 5px 5px 0px 2px #000000;


    display: flex;
    flex-direction: column;
}

/* ###########################################################################################################
        .calculator ==> .displayCurrentCalculation
########################################################################################################### */
.displayCurrentCalculation{
    text-align: right;
    font-size: 1rem;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: var(--stdRadius);
    background: #f1f1f1;
    box-shadow: 5px 5px 0px 2px #000000;
}

/* ###########################################################################################################
        .calculator ==> .displayCurrentNumber
########################################################################################################### */
.displayCurrentNumber{
    text-align: right;
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: var(--stdRadius);
    background: #e0e0e0;
    box-shadow: 5px 5px 0px 2px #000000;
}


/* ###########################################################################################################
        .calculator ==> .btnContainers
########################################################################################################### */
.btnContainers{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    /* border: 2px solid orange; */

    display: flex;
    
}


/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerFunktionsNumbers
########################################################################################################### */
.btnContainerFunktionsNumbers{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    /* border: 2px solid green; */

    /*Flexchild*/
    flex-grow: 3;

    /*Flexparent*/
    display: flex;
    flex-direction: column;
    gap: var(--stdFlexGap);
}



/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerFunktionsNumbers ==> btnContainerFunktions
########################################################################################################### */
.btnContainerFunktions{
    /* border: 2px solid blue; */

    display: flex;
    justify-content: center;
    gap: var(--stdFlexGap);
}

/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerFunktionsNumbers ==> btnContainerNumbers
########################################################################################################### */
.btnContainerNumbers{
    /* border: 2px solid blue; */
    display: flex;
    gap: var(--stdFlexGap);
}

.btnContainerNumbers1, .btnContainerNumbers2, .btnContainerNumbers3{
    /* border: 2px solid lightblue; */

    /*flexchild*/
    flex-grow: 1;
    /*flexparent*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--stdFlexGap);
}



/* ###########################################################################################################
        .calculator ==> .btnContainers ==> btnContainerOperatiors
########################################################################################################### */
.btnContainerOperatiors{
    margin: var(--stdMargin);
    padding: var(--stdPadding);
    border-radius: var(--stdRadius);
    /* border: 2px solid green; */

    /*Flexchild*/
    flex-grow: 1;
    
    /*Flexparent*/
    display: flex;
    flex-direction: column;
    gap: var(--stdFlexGap);
}


